/.env
/.idea
/publisher/output/*
#/bidueur/outputs/*
__pycache__
indexer/archives
biduleur/outputs
biduleur/__pycache__
biduleur/outputs
biduleur/tapages
publisher/output
biduleur/outputs
publisher/output
biduleur/outputs
biduleur/outputs
